{% assign language = site.data.languages[page.locale] %}
{% assign labels = site.data.ui-text[page.locale] %}
{% unless paginator.page > 1 %}
<section class="site-intro" aria-labelledby="site-intro-title">
  <div class="site-intro__body">
    <p class="site-intro__kicker">{{ language.kicker }}</p>
    <h1 id="site-intro-title">
      <span>{{ language.brand }}</span>
      {% if page.locale == 'zh-CN' %}
        <span class="site-intro__hexagram" aria-hidden="true">䷲</span>
      {% endif %}
    </h1>
    <p class="site-intro__dek">
      {{ language.intro | default: language.description }}
    </p>
    <a class="site-intro__browse" href="#posts">
      {{ labels.browse_posts }} <span aria-hidden="true">↓</span>
    </a>
  </div>
  <p class="site-intro__seal" aria-hidden="true">
    <span>बो</span>
    <span>धि</span>
    <span>स</span>
    <span>त्त्व</span>
  </p>
</section>
{% endunless %}
<div id="posts" class="post-list-anchor" aria-hidden="true"></div>
